.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal-buttons {
    flex-direction: row;
    position: relative;
    left: -6px;
}

label {
    margin: 5px 2px;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
}

svg {
    padding: 5px;
    position: relative;
}

label * {
    pointer-events: none;
}

label:hover,
label[data-mode='active'],
label.active,
input[type='checkbox']:checked + label,
.tracking-btn-active,
.review-btn-active {
    background-color: var(--hover-color);
}

.review-btn-loop {
    background-color: red;
}
// .review-btn-active {
// }
// .review-btn-inactive {
// }
// ===============

.disabled {
    opacity: 0.3;
    pointer-events: none;
}
input[type='checkbox']:checked + label > svg {
    fill: var(--active-fill-color);
}

.shuffle svg {
    // padding: 9px;
}
.next svg,
.previous svg {
    // padding: 8px;
}
.repeat[data-mode='no-repeat'] {
    fill: #565656;
}

/* ========== */
.boost {
    /* display: none; */
}
