.toolbar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
}
.toolbar-open {
  width: 300px;
}
@media screen and (max-width: 600px) {
  .toolbar-open {
    width: unset;
  }
}
.toolbar input[type='checkbox'] {
  display: none;
}

#external-link,
.external-link {
  opacity: 0.3;
  outline: none;
  /* display: none; */
}
.input-text {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  min-width: 99vw;
  height: 16px;
  border-radius: 5px;
}
.input-text:hover,
.external-link:hover {
  opacity: 1;
  box-shadow: 0px 3px 7px 0px #7e866e;
}
